<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CRUD</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>My first Node js</h1>
	<div class="main">
		<a href="/add">Add Users</a>
		<a href="/search">Search Users</a>
		<a href="/update">Update Users</a>
		<a href="/delete">Delete Users</a>
		<a href="/view">View Users</a>
	</div>
</body>
</html>