<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Users Search</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Search Users</h1>
	<form>
		<label>Contact</label>
		<input type="text" id="txtcontact" name="txtcontact" placeholder="Contact">
		<button type="submit">Search Users</button>
	</form>
	<a href="/">Back to home</a>
</body>
</html>